@import "_global.scss";
@import "_main.scss";
@import "_banner.scss";
@import "_plyr.scss";

// // templates
// @import "_header.scss";
// @import "_account_info.scss";
// @import "_box_info.scss";
// @import "_breadcrumbs.scss";
// @import "_footer.scss";

// // pages
// @import "_homepage.scss";
// @import "_courses.scss";
// @import "_single.scss";
// @import "_page.scss";

// // components
// @import "_posts.scss";
// @import "_five_principles.scss";
// @import "_button.scss";

// // miscellaneous
// @import "_javascript.scss";
// @import "_form.scss";
// @import "_shortcodes.scss";

.hovering__main {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // width: 100vw;
  // height: 100vh;

  .hovering__main__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
      
    position: relative;
  }  
}

// HOVERING BUTTON
.hovering__button__container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;

  .hovering__button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    opacity: 1;
    transition: .2s;    

    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: white;
  
    border-radius: 50%;
    width: 1000px;
    height: 1000px;  

    transform: scale(0.06);
  }

  .hovering__button {

  }
}

.hovering__button__text {
  position: absolute;
  color: white;
  transition: .3s;    
}

.hovering__button__text--during {
  position: absolute;
  top: 100px;
  opacity: 0;
  transition: .3s;    
}

.hovering__center {
  position: relative;
  width: 600px;
}

.hovering__toast__container {
  display: none;

  position: absolute;
  top: -6rem;

  left: 50%;
  transform: translateX(-50%);

  padding: 1rem;
  // background: rgb(218, 218, 218);
  // border: 2px solid cyan;
  // box-shadow: -5px 5px 0px 0px black;

  .hovering__toast__text {
    color: black;
  }

}

// HOVERING MESSAGE
.hovering__message__container {
  position: absolute;
  top: 4rem;
  width: 600px;

  .hovering__message {
    opacity: 1;
    transition: .2s;
    color: black;
  }

  .hovering__message__secondary {
    opacity: 0;
    transition: .2s;
  }

  .hovering__message--active {
    // opacity: 1!important;  
    
    transition: .2s;    
  }  
}


// HOVERING INFORMATION
.hovering__information__container {
  width: 140px;
  position: absolute;
  right: 2.2rem;
  top: 0.6rem;

  cursor: default;

  font-size: 0.7rem;

  // background: lightgrey;
  // border: 4px solid cyan;
  padding-left: 1rem;
  padding-right: 1rem;

  .question__mark__link {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;

    i {
      font-size: 1.1rem;
      transition: .2s;
    }
    i:hover {
      color: rgb(121, 121, 121);
    }
  }

  h4 {
    margin: 0.2rem!important;
    text-decoration: underline;
  }

  .hovering__timer__container {

    .hovering__timer {
    }
  }
}

.hovering__state {
  padding: 0.4rem;
}

.hovering__state--selected {
  border: 2px solid black;
}


.hovering__what__is__container {
  position: absolute;
  bottom: 1rem;
  right: 2.2rem;

  .hovering__what__is {
  }
}

.fade__element {
  display: block!important;
  animation: fading 10s forwards;
  // animation-timing-function: ease-in;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
